@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600&display=swap');
body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: sans-serif;
}
h1{
    font-family: 'Poppins', sans-serif;
}
h3,h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.container{
    width: 1280px;
    
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    background: #ff0;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.container .box .imgBox{
    position: relative;
    overflow: hidden;
}
.container .box .imgBox img{
    max-width: 100%;
    height: 300px;
    transition: transform 2s;
}
.container .box:hover .imgBox img{
    transform: scale(1.2);
}
.container .box .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}
.container .box:hover .details{
    transform: scaleX(1);
}
.container .box .details .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}
.container .box .details .content h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ff0;
}.container .box .details .content p{
    margin: 10px 0 0;
    padding: 0;
    
}

.topnav {
  overflow: hidden;
  background-color: #fff;
}
/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: black;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;

  border-radius: 20px;
}

.picture{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    background: url("./explore.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width:100%;
   height:auto;
   object-fit:cover;
   /* object-position:50% 50%; */
   
   
}

.picture h3{
    display: block;
    height: 50%;
    font-size: 45px;
    color: #fff;

      font-family: 'Meddon', cursive;
  font-size: 50px;
  transform:  translateY(30px);
text-align: center;
position: absolute;
padding-left: 100px;
}
.picture button{
    height: 50px;
    width: 200px;
    position: relative;
    bottom: -200px;
    right: -60x;
    align-items: center;
    background: transparent;
    border: 3px solid #fff;
    /* border-radius: 40px; */
    font-size: 15px;

}
.picture h4{
color: #fff;
display: block;
    height: 40%;
    font-size: 30px;
    color: #fff;

     font-family: 'Baloo Tammudu 2', cursive;
  transform:  translateY(150px);
  padding-left:50px ;
}

.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-bottom: 100px;
    
}
.btn{
    border:1px solid #fff;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: #fff;
    color: #000;
   
}
